body {
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 16em;
  padding-bottom: 12em;
  color: white;
}

#intro {
  background-color: #1c1c1c;
}

#intro h5 {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .02em;
  margin-bottom: 0.25em;
}

#intro h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

#intro img {
  margin: auto;
  width: 100%;
}

.center-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NAVBAR STYLING */

.navbar {
  background-color: #1c1c1c;
  height: 72px;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul, li {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar img {
  height: 40px;
}

.navbar li {
  list-style: none;
  display:inline-block;
}

.navbar li a {
  color: #B0B0B0;
  text-decoration: none;
  font-size: 20px;
  margin-left: 1em;
}

.navbar li a:hover {
  color: white;
}

/* END NAVBAR STYLING */

/* FOOTER STYLING */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px 0px;
	width: 100%;
  background-color: #1C1C1C;
  color: #fff;
}

.social-media-links{
  border: none;
  background: none;
  padding: 10px 15px;
}

.icons{
  font-size: 24px;
  color: #fff;
}

/* END FOOTER STYLING */
