---
layout: news
title: News
navbar: false
order: 2
---

<h2>Posts</h2>

<ul>
    {% for post in paginator.posts %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
    {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div id="pagination">
    <ul class="pagination">
        <!-- <li class="page-item disabled"> -->
        <!-- <span class="page-link">&laquo; Prev</span> -->
        <!-- </li> -->

        {% assign surrounding_pages = 3 %}

        {% assign min = paginator.page | minus:surrounding_pages %}
        {% if min < 1 %}
          {% assign min = 1 %}
        {% endif %}

        {% assign max = paginator.page | plus:surrounding_pages %}
        {% if max > paginator.total_pages %}
          {% assign max = paginator.total_pages %}
        {% endif %}

        {% for page in (min..max) %}
            {% if page == paginator.page %}
                <li class="page-item active">
                    <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                </li>
            {% elsif page == 1 %}
                <li class="page-item">
                    <a href="{{ "/news" | relative_url }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

                <!-- <li class="page-item disabled"> -->
                <!-- <span class="page-link">Next &raquo;</span> -->
                <!-- </li> -->
    </ul>
</div>
{% endif %}
