<footer class="footer">
    <div class="grid-container fluid">
        <div class="grid-x grid-padding-x">
            <div class="cell large-shrink">
                <p>©1999-2018 Cornell University Autonomous Underwater Vehicle</p>
            </div>
            <div class="cell large-shrink">
                <a href="https://www.facebook.com/cornellauv" target="_blank"><p>Facebook</p></a>
            </div>
            <div class="cell large-shrink">
                <a href="https://www.youtube.com/user/CornellAUV" target="_blank"><p>YouTube</p></a>
            </div>
            <div class="cell large-shrink">
                <a href="https://www.instagram.com/cornell_auv/" target="_blank"><p>Instagram</p></a>
            </div>
            <div class="cell large-shrink">
                <a href="https://twitter.com/cuauv" target="_blank"><p>Twitter</p></a>
            </div>
            <div class="cell large-shrink">
                <a href="https://www.linkedin.com/grp/home?gid=4309167" target="_blank"><p>LinkedIn</p></a>
            </div>
            <div class="cell large-shrink">
                <a href="mailto:cuauv@cornell.edu?Subject=CUAUV%20Inquery" target="_blank">Email us!</a>
            </div>
        </div>
    </div>
</footer>
