<footer class="footer">
    <div class = "container">
        <div class = "row">
            <div class = "col-lg-5">
                <p>©1999-2017 Cornell University Autonomous Underwater Vehicle </p>
            </div>
            <div class = "col-lg-1">
                <a href = "https://www.facebook.com/cornellauv" target="_blank"><p>Facebook </p></a>
            </div>
            <div class = "col-lg-1">
                <a href = "https://www.youtube.com/user/CornellAUV" target="_blank"><p>YouTube </p></a>
            </div>
            <div class = "col-lg-1">
                <a href = "https://www.instagram.com/cornell_auv/" target="_blank"><p>Instagram </p></a>
            </div>
            <div class = "col-lg-1">
                <a href = "https://twitter.com/cuauv" target="_blank"><p>Twitter </p></a>
            </div>
            <div class = "col-lg-1">
                <a href = "https://www.linkedin.com/grp/home?gid=4309167" target="_blank"><p>LinkedIn </p></a>
            </div>
            <div class = "col-lg-2">
                <a href = "mailto:cuauv@cornell.edu?Subject=CUAUV%20Inquery" target="_blank">Email us!</a>
            </div>
        </div>
    </div>
</footer>
