<nav class="top-bar fixed" role="navigation">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a class="site-title" href="{{ "/" | relative_url }}">
                    <div class="site-logo">
                        <img class="site-logo-text" src="{{ "/assets/images/white_text_no_prop.svg" | relative_url }}" alt="CUAUV">
                        <img class="site-logo-prop" src="{{ "/assets/images/red_prop_text_aligned.svg" | relative_url }}">
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <a href="{{ "/news" | relative_url }}">NEWS</a>
            </li>

            {% assign pages = site.pages | sort: "order" %}
            {% for page in pages %}
                {% if page.title and page.navbar != false %}
                    <li>
                        <a href="{{ page.url | relative_url }}">{{ page.title | upcase | escape }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<nav class="top-bar" role="navigation">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a class="site-title" href="{{ "/" | relative_url }}">
                    {{ site.title | escape }}
                </a>
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <a href="{{ "/news" | relative_url }}">NEWS</a>
            </li>

            {% assign pages = site.pages | sort: "order" %}
            {% for page in pages %}
                {% if page.title and page.navbar != false %}
                    <li>
                        <a href="{{ page.url | relative_url }}">{{ page.title | upcase | escape }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
