<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li>
        <a href="#">One</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>

<nav class="top-bar fixed" role="navigation">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a class="site-title" href="{{ "/" | relative_url }}">
                    <div class="site-logo">
                        <img class="site-logo-text" src="{{ "/assets/images/white_text_no_prop.svg" | relative_url }}" alt="CUAUV">
                        <img class="site-logo-prop" src="{{ "/assets/images/red_prop.svg" | relative_url }}">
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
            {% assign pages = site.pages | sort: "order" %}
            {% for page in pages %}
                {% if page.title and page.navbar != false %}
                    <li>
                        <a href="{{ page.url | relative_url }}">{{ page.title | upcase | escape }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
